<div class='nav-footer flexbox row {{nav.classes.cont}}'>
	<div ng-repeat='button in nav.buttons' class='flex1 nav-footer-button-cont {{button.classes.cont}}'>
		<a ng-if='!button.html' ng-show='button.href' class='nav-footer-button nav-footer-icon-button {{button.classes.button}}' ng-href = '{{button.href}}'>
			<i class='nav-footer-icon-button-icon {{button.icon}}'></i>
			<div class='nav-footer-icon-button-text' ng-bind-html='button.iconHtml'></div>
		</a>
		<div ng-if='!button.html' ng-hide='button.href' class='nav-footer-button nav-footer-icon-button {{button.classes.button}}' ng-click = 'button.click()'>
			<i class='nav-footer-icon-button-icon {{button.icon}}'></i>
			<div class='nav-footer-icon-button-text' ng-bind-html='button.iconHtml'></div>
		</div>
		<a ng-if='button.html' ng-show='button.href' class='nav-footer-button' ng-href = '{{button.href}}' ng-bind-html='button.html'></a>
		<div ng-if='button.html' ng-hide='button.href' class='nav-footer-button' ng-click = 'button.click()' ng-bind-html='button.html'></div>
	</div>
</div>